<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>你的标题</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="/image/png" href="i/favicon.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="i/app-icon72x72@2x.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="i/app-icon72x72@2x.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <!-- Amaze UI CSS -->
    <link rel="stylesheet" href="/amazeui/dist/css/amazeui.min.css">
    <link rel="stylesheet" href="/videojs-master/video.js/amazeui.videojs.css">
    <link rel="stylesheet" href="/css/css.css">

</head>
<body>

    <header class="am-g header-top ">
        <div class="am-container ">
            <div class="am-u-sm-6 header-top-left am-hide-sm-only ">
                <div><a href="/jianjie">关于我们</a></div>
                <div><a href="/gongsi">新闻</a></div>
                <div>联系我们</div>
            </div>
            <div class="am-u-sm-6 header-top-right am-hide-md-down">
                <input type="text" class="input-search ">
                <label>登录</label>
                <label>注册</label>
                <label>English</label>
            </div>

        </div>

        <!-- 侧边栏内容 -->

    </header>

<div class="am-g header-logo" >
    <div class="am-container header-nav">
        <div class="am-u-lg-3">
            <a href="/"><img src="/imgs/logo.png" class="am-img-responsive img-all-width" alt=""/></a>

        </div>
        <div class="am-u-lg-9">
            <ul class="nav-menu am-u-sm-12 am-hide-sm-only">
                <li class="am-u-md-2 am-u-sm-12"><a href="">发现</a></li>
                <li class="am-u-md-2 am-u-sm-12"><a href="/hulianwang">互联网+</a></li>
                <li class="am-u-md-4 am-u-sm-12"><a href="/jiejue">产品及解决方案</a></li>
                <li class="am-u-md-2 am-u-sm-12"><a href="/fuwu">服务</a></li>
                <li class="am-u-md-2 am-u-sm-12"><a href="/zhihui">行业</a></li>
            </ul>
        </div>
    </div>


</div>
    {% block content %}{% endblock %}
<div class="am-g footer">
    <div class="am-container am-padding-left-0">
        <div class="am-u-sm-12 am-u-md-3 am-padding-left-0">
            <div class="am-u-sm-12 am-u-md-6">
                <div>发现</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>

            </div>
            <div class="am-u-sm-12 am-u-md-6">
                <div>发现</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
            </div>

        </div>
        <div class="am-u-sm-12 am-u-md-6">

            <div class="am-u-sm-12 am-u-md-4 am-padding-left-0">
                <div>发现</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>


            </div>
            <div class="am-u-sm-12 am-u-md-4 ">
                <div>发现</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>

            </div>
            <div class="am-u-sm-12 am-u-md-4">
                <div>发现</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>

            </div>


        </div>
        <div class="am-u-sm-12 am-u-md-3">
            <div class="am-u-sm-12 am-u-md-6 am-padding-left-0">
                <div>发现</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>

            </div>
            <div class="am-u-sm-12 am-u-md-6">
                <div>发现</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
                <div class="news-title-flow am-text-center">汇文利加董事汇文利加董事汇文利加董事汇文利加董事</div>
            </div>
        </div>

    </div>
    <div class="am-container">
        <div class="am-u-sm-6">
            版权信息
        </div>
        <div class="am-u-sm-6" style="margin-right: 0px">
            联系我们|法律声明
        </div>
    </div>

</div>

<!--[if lt IE 9]>
<script src="//libs.useso.com/js/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/js/polyfill/rem.min.js"></script>
<script src="//libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
<script src="//cdn.amazeui.org/amazeui/2.1.0/js/amazeui.legacy.min.js"></script>

<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/amazeui/dist/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="/videojs-master/video.js/video.js"></script>
<script>
    var video = $("#example_video_1");
    video.click(function () {
        var h = document.documentElement.clientHeight;
        this.play();
        this.controls = "controls";

    })

</script>
</body>
</html>