{% extends "secondbase.html" %}



{% block navmenu %}

        <div class="am-container am-breadcrumb am-cf nav-breadcrumb">
            <div class="am-text-right">当前位置：服务 > <label>发展历程</label></div>
        </div>
        <div class="am-text-center am-article-title article-title">中国智慧城市领域开拓者</div>
        <div class="am-container item-list-img">
            <img src="/imgs/fanzhan1.png" class="img-all-width am-img-responsive" alt="">
        </div>
        <div class="am-container">
            <div class="am-u-sm-12 am-u-md-4">
                <img src="/imgs/fanzhan2.png" class="img-all-width am-img-responsive" alt="">
                <div class="am-text-sm am-text-center">李克强总理访欧力促中欧经贸 汇文利加携“智慧”开启欧洲行</div>
            </div>
            <div class="am-u-sm-12 am-u-md-4">
                <img src="/imgs/fanzhan2.png" class="img-all-width am-img-responsive" alt="">
                <div class="am-text-sm am-text-center">李克强总理访欧力促中欧经贸 汇文利加携“智慧”开启欧洲行</div>
            </div>
            <div class="am-u-sm-12 am-u-md-4">
                <img src="/imgs/fanzhan2.png" class="img-all-width am-img-responsive" alt="">
                <div class="am-text-sm am-text-center">李克强总理访欧力促中欧经贸 汇文利加携“智慧”开启欧洲行</div>
            </div>
        </div>
{% endblock %}