{% extends "secondbase.html" %}



{% block navmenu %}

        <div class="am-container am-breadcrumb am-cf nav-breadcrumb">
            <div class="am-text-right">当前位置：服务 > <label>管理团队</label></div>
        </div>
        <div class="am-container am-padding-0">
            <div class="am-u-md-2">
                <table class="am-align-left">
                    <tr><td class="nav-left-menu">管理团队</td></tr>
                    <tr><td>刘汇文</td></tr>
                </table>
            </div>
            <div class="am-u-md-10 item-list-last">
                <img src="/imgs/guangli1.png" alt="" class="am-img-responsive">
                <div class="am-text-xl "><h5>刘汇文</h5></div>
                <div class="am-text-sm">刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人</div>
            </div>
        </div>
{% endblock %}