{% extends "secondbase.html" %}



{% block navmenu %}

        <div class="am-container am-breadcrumb am-cf nav-breadcrumb">
            <div class="am-text-right">当前位置：服务 > <label>公司简介</label></div>
        </div>
        <div class="am-container am-padding-0">
            <div class="am-text-left am-article-title article-title-inner am-padding-0">北京汇文利加文化传播有限公司：</div>
            <div class="am-text-sm am-text-left">李克强总理访欧力促中欧经贸 汇文利加携“智慧”开启欧洲行李克强总理访欧力促中欧经贸 汇文利加携“智慧”开启欧洲行李克强总理访欧力促中欧经贸 汇文利加携“智慧”开启欧洲行李克强总理访欧力促中欧经贸 汇文利加携“智慧”开启欧洲行李克强总理访欧力促中欧经贸 汇文利加携“智慧”开启欧洲行李克强总理访欧力促中欧经贸 汇文利加携“智慧”开启欧洲行李克强总理访欧力促中欧经贸 汇文利加携“智慧”开启欧洲行李克强总理访欧力促中欧经贸 汇文利加携“智慧”开启欧洲行李克强总理访欧力促中欧经贸 汇文利加携“智慧”开启欧洲行</div>

        </div>
        <div class="title-style am-text-center am-text-xl">洞察 前所未见</div>
        <div class="am-container am-padding-0" style="">
            <video id="example_video_1" class="video-js vjs-amazeui"  preload="none" style="width: 100%"
                   poster="/imgs/video-capture.png"
                   data-setup="{}">
                <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' class="am-g" />
                <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' class="am-g" />
                <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' class="am-g"/>
                <track kind="captions" src="video.js/demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
                <track kind="subtitles" src="video.js/demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>
        </div>

        <div class="am-container am-text-xxl am-text-left am-padding-0 am-margin-top-lg">核心能力</div>
        <div class="am-container am-padding-0 am-margin-bottom-xl am-margin-top-lg">
            <div class="am-u-sm-12 am-u-md-4 am-padding-0">
                <img src="/imgs/fanzhan2.png" class="img-all-width am-img-responsive" alt="">
                <div class="am-text-sm am-text-center"><h5>信息技术服务</h5></div>
                <div class="am-text-sm am-text-center">动力多项信息技术服务助力<br />各行业进行信息化升级转型</div>
            </div>
            <div class="am-u-sm-12 am-u-md-4 am-padding-0">
                <img src="/imgs/fanzhan2.png" class="img-all-width am-img-responsive" alt="">
                <div class="am-text-sm am-text-center"><h5>信息技术服务</h5></div>
                <div class="am-text-sm am-text-center">动力多项信息技术服务助力<br />各行业进行信息化升级转型</div>            </div>
            <div class="am-u-sm-12 am-u-md-4 am-padding-0">
                <img src="/imgs/fanzhan2.png" class="img-all-width am-img-responsive" alt="">
                <div class="am-text-sm am-text-center"><h5>信息技术服务</h5></div>
                <div class="am-text-sm am-text-center">动力多项信息技术服务助力<br />各行业进行信息化升级转型</div>            </div>
        </div>

    </div>


{% endblock %}