{% extends "base.html" %}

{% block content %}
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only push-menu" data-am-offcanvas="{target: '#doc-oc-demo2', effect: 'push'}"><span class="am-icon-bars"></span></button>
    <div id="doc-oc-demo2" class="am-offcanvas">
        <div class="am-offcanvas-bar">
            <div class="am-offcanvas-content">
                <ul>
                    <li><a href="">关于我们</a></li>
                    <li><a href="">新闻</a></li>
                    <li><a href="">联系我们</a></li>
                    <li><a href="">登录</a></li>
                    <li><a href="">注册</a></li>
                    <li><a href="">智慧城市与公用事业</a></li>
                    <li><a href="">金融行业</a></li>
                    <li><a href="">电信高科技</a></li>
                    <li><a href="">其它</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="am-g">
            <img src="/imgs/header1.png" class="am-img-responsive img-all-width" alt="" />
        </div>

        <div class="am-container am-breadcrumb am-cf nav-breadcrumb">
            <div class="am-text-right">当前位置：服务 > <label>咨询与解决方案</label></div>
        </div>
        <div class="am-container">
            <div class="am-text-center am-article-title article-title am-text-xxl"><h3>产品及解决方案</h3></div>
            <div class="am-text-center am-article-title article-title am-text-xxl">中国智慧城市建设者</div>
            <div class="aam-article-title article-title am-text-sm">汇文利加以“产业先行，聚焦民生，和谐共赢”的战略理念积极拥抱互联网+。包含通过智慧城市科学解决方案促进产城融合并加快城市发展；关注民生服务，运用大数据等信息技术协助政府提升城市的公共服务水平；通过大数据服务平台促进城市数据开发及深掘数据价值，并结合线下乐业空间助力双创产业发展；基于云计算、大数据、移动互联网、物联网、社交等新一代的信息技术打造智慧城市的“互联网+城市云”。</div>

        </div>


        <div class="am-container item-list-img">
            <img src="/imgs/jiejue1.png" class="img-all-width am-img-responsive" alt="">
        </div>

        <div class="am-container item-list-img item-list-last">
            <img src="/imgs/jiejue1.png" class="img-all-width am-img-responsive" alt="">
        </div>

    </div>


{% endblock %}