{% extends "hangyebase.html" %}
{% block hangyecontent %}
        <div class="am-container am-breadcrumb am-cf nav-breadcrumb">
            <div class="am-text-right">当前位置：服务 > <label>其它</label></div>
        </div>
        <div class="am-text-center am-article-title article-title">其它</div>
        <div class="am-container item-list">
            <div class="am-u-lg-4 am-u-sm-12">
                <img src="/imgs/news_left1.png" alt="" class="am-img-responsive img-all-width">
            </div>
            <div class="am-u-lg-8 am-u-sm-12">
                <div class="news-title-right left-border-title">制造</div>
                <div class="news-brief">汇文利加智慧政务通过资源虚拟化、服务器、网络、存储、云安全等建立基础设施层，亲我统一的数据标准、数据安全保障体系和大数据据运营体系，构建以大数据为核心的信息资源目录系统、数据交换平台和治理平台，提供数据开发服务为一体的软通动力大数据平台，为各......</div>
                <span class="news-more">查看更多 >></span>
            </div>
        </div>

        <div class="am-container item-list item-list-last">
            <div class="am-u-lg-4 am-u-sm-12">
                <img src="/imgs/news_left1.png" alt="" class="am-img-responsive img-all-width">
            </div>
            <div class="am-u-lg-8 am-u-sm-12">
                <div class="news-title-right left-border-title">汽车</div>
                <div class="news-brief">汇文利加智慧政务通过资源虚拟化、服务器、网络、存储、云安全等建立基础设施层，亲我统一的数据标准、数据安全保障体系和大数据据运营体系，构建以大数据为核心的信息资源目录系统、数据交换平台和治理平台，提供数据开发服务为一体的软通动力大数据平台，为各......</div>
                <span class="news-more">查看更多 >></span>
            </div>
        </div>

        <div class="am-container item-list item-list-last">
            <div class="am-u-lg-4 am-u-sm-12">
                <img src="/imgs/news_left1.png" alt="" class="am-img-responsive img-all-width">
            </div>
            <div class="am-u-lg-8 am-u-sm-12">
                <div class="news-title-right left-border-title">零售</div>
                <div class="news-brief">汇文利加智慧政务通过资源虚拟化、服务器、网络、存储、云安全等建立基础设施层，亲我统一的数据标准、数据安全保障体系和大数据据运营体系，构建以大数据为核心的信息资源目录系统、数据交换平台和治理平台，提供数据开发服务为一体的软通动力大数据平台，为各......</div>
                <span class="news-more">查看更多 >></span>
            </div>
        </div>

        <div class="am-container item-list item-list-last">
            <div class="am-u-lg-4 am-u-sm-12">
                <img src="/imgs/news_left1.png" alt="" class="am-img-responsive img-all-width">
            </div>
            <div class="am-u-lg-8 am-u-sm-12">
                <div class="news-title-right left-border-title">媒体</div>
                <div class="news-brief">汇文利加智慧政务通过资源虚拟化、服务器、网络、存储、云安全等建立基础设施层，亲我统一的数据标准、数据安全保障体系和大数据据运营体系，构建以大数据为核心的信息资源目录系统、数据交换平台和治理平台，提供数据开发服务为一体的软通动力大数据平台，为各......</div>
                <span class="news-more">查看更多 >></span>
            </div>
        </div>

        <div class="am-container item-list item-list-last">
            <div class="am-u-lg-4 am-u-sm-12">
                <img src="/imgs/news_left1.png" alt="" class="am-img-responsive img-all-width">
            </div>
            <div class="am-u-lg-8 am-u-sm-12">
                <div class="news-title-right left-border-title">其它</div>
                <div class="news-brief">汇文利加智慧政务通过资源虚拟化、服务器、网络、存储、云安全等建立基础设施层，亲我统一的数据标准、数据安全保障体系和大数据据运营体系，构建以大数据为核心的信息资源目录系统、数据交换平台和治理平台，提供数据开发服务为一体的软通动力大数据平台，为各......</div>
                <span class="news-more">查看更多 >></span>
            </div>
        </div>
{% endblock %}

