{% extends "secondbase.html" %}
{% block navmenu %}
        <div class="am-container am-breadcrumb am-cf nav-breadcrumb">
            <div class="am-text-right">当前位置：服务 > <label>智慧生态体系</label></div>
        </div>
        <div class="am-container am-padding-0">
            <div class="am-u-md-2">
                <table class="am-align-left">
                    <tr><td class="nav-left-menu">生态战略</td></tr>
                    <tr><td>智慧生态战略</td></tr>
                </table>
            </div>
            <div class="am-u-md-10 item-list-last">
                <div class="am-text-xl "><h5>智慧生态系统</h5></div>
                <div class="am-text-sm">刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人</div>
                <img src="/imgs/shengtai.png" class="am-img-responsive img-all-width" alt="">


            </div>
        </div>
{% endblock %}