
{% extends "newsbase.html" %}
{% block newscontent %}
        <div class="am-container am-breadcrumb am-cf nav-breadcrumb">
            <div class="am-text-right">当前位置：服务 > <label>市场活动</label></div>
        </div>
        <div class="am-container  am-padding-0">
            <div class="am-u-sm-6 am-padding-0"><img src="/imgs/news-ga1.png" class="img-all-width am-img-responsive am-padding-0" alt=""></div>
            <div class="am-u-sm-3 am-padding-0"><img src="/imgs/news-ga2.png" class="img-all-width am-img-responsive am-padding-0" alt=""></div>
            <div class="am-u-sm-3 am-padding-0"><img src="/imgs/news-ga3.png" class="img-all-width am-img-responsive am-padding-0" alt=""></div>
        </div>
        <div class="am-container  am-padding-0">
            <div class="am-u-sm-3  am-padding-0"><img src="/imgs/news-ga4.png" class="img-all-width am-img-responsive am-padding-0" alt=""></div>
            <div class="am-u-sm-3  am-padding-0"><img src="/imgs/news-ga5.png" class="img-all-width am-img-responsive am-padding-0" alt=""></div>
            <div class="am-u-sm-6 am-padding-0"><img src="/imgs/news-ga6.png" class="img-all-width am-img-responsive am-padding-0" alt=""></div>
        </div>
        <div class="am-container am-padding-0 am-margin-top-lg">
            <div class="am-u-md-2 am-padding-0">
                <table class="am-align-left">
                    <tr><td class="nav-left-menu">按年份查询</td></tr>
                    <tr><td class="am-text-center">2016</td></tr>
                    <tr><td class="am-text-center">2015</td></tr>
                    <tr><td class="am-text-center">2014</td></tr>
                    <tr><td class="am-text-center">2013</td></tr>
                    <tr><td class="am-text-center">2012</td></tr>
                </table>
            </div>
            <div class="am-u-md-10 am-padding-0">
                <table class="am-table am-padding-0">
                    <tr>
                        <td>*</td>
                        <td class="am-text-sm">开启城市发展新篇章 汇文利加牵头成立城市运营专委会</td>
                        <td class="am-text-right am-text-sm">2016-12-14</td>
                    </tr>
                    <tr>
                        <td>*</td>
                        <td class="am-text-sm">开启城市发展新篇章 汇文利加牵头成立城市运营专委会</td>
                        <td class="am-text-right am-text-sm">2016-12-14</td>
                    </tr>
                    <tr>
                        <td>*</td>
                        <td class="am-text-sm">开启城市发展新篇章 汇文利加牵头成立城市运营专委会</td>
                        <td class="am-text-right am-text-sm">2016-12-14</td>
                    </tr>
                    <tr>
                        <td>*</td>
                        <td class="am-text-sm">开启城市发展新篇章 汇文利加牵头成立城市运营专委会</td>
                        <td class="am-text-right am-text-sm">2016-12-14</td>
                    </tr>
                    <tr>
                        <td>*</td>
                        <td class="am-text-sm">开启城市发展新篇章 汇文利加牵头成立城市运营专委会</td>
                        <td class="am-text-right am-text-sm">2016-12-14</td>
                    </tr>
                    <tr>
                        <td>*</td>
                        <td class="am-text-sm">开启城市发展新篇章 汇文利加牵头成立城市运营专委会</td>
                        <td class="am-text-right am-text-sm">2016-12-14</td>
                    </tr>
                    <tr>
                        <td>*</td>
                        <td class="am-text-sm">开启城市发展新篇章 汇文利加牵头成立城市运营专委会</td>
                        <td class="am-text-right am-text-sm">2016-12-14</td>
                    </tr>
                    <tr>
                        <td>*</td>
                        <td class="am-text-sm">开启城市发展新篇章 汇文利加牵头成立城市运营专委会</td>
                        <td class="am-text-right am-text-sm">2016-12-14</td>
                    </tr>
                </table>
                <div class="am-center item-list-last"><ul  class="am-center pages am-text-sm">
                    <li>首页</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>...</li>
                    <li>末页</li></ul></div>
            </div>
            </div>

{% endblock %}