
{% extends "newsbase.html" %}
{% block newscontent %}
        <div class="am-container am-breadcrumb am-cf nav-breadcrumb">
            <div class="am-text-right">当前位置：服务 > <label>校企合作</label></div>
        </div>
        <div class="am-container">
            <div class="am-container am-text-xxl am-text-center"><h3>北京汇文利加传播有限公司</h3></div>
            <div class="am-container am-text-xxl am-text-center eng-title"><h5>Hui Wen Li Jia</h5></div>
            <img src="/imgs/banner1.png" class="am-img-responsive img-all-width" alt="">
            <div class="am-text-sm">北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播</div>

            <div class="am-container am-text-xxl am-text-center am-margin-top-xl"><h3>七大校区 共筑高盛</h3></div>
            <div class="am-container am-text-xxl am-text-center eng-title"><h5>Seven Schools</h5></div>
            <img src="/imgs/banner1.png" class="am-img-responsive img-all-width" alt="">
            <div class="am-text-sm  item-list-last">北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播北京加利文化传播</div>

        </div>


{% endblock %}
