{% extends "secondbase.html" %}



{% block navmenu %}
        <div class="am-container am-breadcrumb am-cf nav-breadcrumb">
            <div class="am-text-right">当前位置：服务 > <label>社会责任</label></div>
        </div>
        <div class="am-container am-padding-0">
            <div class="am-u-md-2">
                <table class="am-align-left">
                    <tr><td class="nav-left-menu">社会责任</td></tr>
                    <tr><td>社会责任</td></tr>
                </table>
            </div>
            <div class="am-u-md-10 item-list-last">
                <div class="am-text-xl "><h5>汇文利加社会责任</h5></div>
                <div class="am-text-sm">刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人</div>
                <img src="/imgs/news_article1.png" class="am-img-responsive img-all-width" alt="">
                <div class="am-text-xl "><h5>汇文利加社会责任</h5></div>
                <div class="am-text-sm">刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人</div>
                <div class="am-text-xl "><h5>汇文利加社会责任</h5></div>
                <div class="am-text-sm">刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人，刘汇文先生是汇文利加的创始人</div>
                <div class="img-all-width">
                    <div class="am-u-sm-6 am-padding-0">
                        <img src="/imgs/news_article2.png" class="am-img-responsive img-all-width" alt="">
                        <img src="/imgs/news_article3.png" class="am-img-responsive img-all-width" alt="">

                    </div>
                    <div class="am-u-sm-6 am-padding-0" style="padding-left: 10px">
                        <img src="/imgs/news_article4.png" class="img-all-width am-img-responsive" alt="">
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}

